
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Ana Sayfa</a>
                <a class="breadcrumb-item text-dark" href="#">Alışveri Yap</a>
                <span class="breadcrumb-item active">Ürün Listesi</span>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4">
            @await Component.InvokeAsync("_ProductByPriceFilterComponentPartial");
           
            @await Component.InvokeAsync("_ProductByColorFilterComponentPartial");
           
            @await Component.InvokeAsync("_ProductBySizeFilterComponentPartial");

        </div>
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                @await Component.InvokeAsync("_SortingByProductCountComponentPartial")

                @await Component.InvokeAsync("_ProductListComponentPartial")

                @await Component.InvokeAsync("_ProductPaginationComponentPartial")
               
            </div>
        </div>
    </div>
</div>
